{% extends "userlogin/dashboard.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
    {% if queryset %}
        <h3> Absentees </h3>
        {% for absentee in queryset %}
            Email :                 {{ absentee.email }} <br>
            Name :                  {{ absentee.name }} <br>
            School :                {{ absentee.school }} <br>
            <br> <br>
        {% endfor %}
    {% else %}
        <p> No absentees</p>
    {% endif %}
    </div>
{% endblock content %}

